
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // A user's own document
    match /users/{userId} {
      // Allow a user to read their own document
      allow read: if request.auth != null && request.auth.uid == userId;
      // Allow a user to create their own document upon signup
      allow create: if request.auth != null && request.auth.uid == userId;
      // Disallow updates to the main user document for now
      allow update, delete: if false;
      
      // Allow a user to read and write to the 'transactions' sub-collection
      match /transactions/{transactionId} {
        allow read, write, delete: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
